#pagetitle {
    width: 100%;
    text-align: center;
    font-weight:bold;
    font-size:250%;
    margin-bottom: 4px;
    margin-top: 2px;
}

.post-title {
    
}

.post-date {
}

.post-cat {
}

.post-content {
}
