body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#pagetitle {
    width: 100%;
    text-align: center;
    font-weight:bold;
    font-size:250%;
    margin-bottom: 4px;
    margin-top: 2px;
}

#pagetitle a:link { text-decoration:none; color:inherit;}
#pagetitle a:visited {text-decoration:none; color:inherit;}  /* visited link */
#pagetitle a:hover {text-decoration:underline; color:inherit;}  /* mouse over link */
#pagetitle a:active {text-decoration:none; color:inherit;}  /* selected link */


.post {
    max-width: 5.5in;
}

.post-title {
    font-weight: bold;
    margin-top: 5px;
    font-size: 1.6em;
    color: #0000AE;
    text-decoration:none;
}

.post-title a {
    text-decoration:none;
    color: #0000AE;
}

.post-title a:hover {
    text-decoration:underline;
    color: #0000AE;
}

.post-date {
    display: inline;
    color: #3A00AE;
    font-size: 75%;
}

.post-cat {
    display: inline;
    color: #575757;
    font-size: 75%;
}

.post-content {
}

.post-synopsis {
    line-height: 1.2em;
    max-height: 4.8em;
    white-space: normal;
    padding-left: 2em;
}

a.read-more { font-size: 80%; text-decoration:none;}
a.read-more:link {color:#3A00AE;}      /* unvisited link */
.read-more:visited {color:#575757;}  /* visited link */
a.read-more:hover {color:#0000AE;}  /* mouse over link */
a.read-more:active {color:#0000AE;}  /* selected link */